@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.navbar-brand, h1, h2, h3, h4 {
  font-family: 'Jeju Gothic';
}
h5 {
  font-family: 'Jeju Gothic';
  font-size: 18px;
}
body {
  font-family: 'Nanum Gothic';
}
#header {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#header small {
  color: #cccccc;
}
.info {
  margin-top: 3px;
}
.dropdown-toggle::after {
    content: none;
}
@media (max-width: 990px) {
  .mobile {
    display: none;
  }
}
.modal {
  -webkit-transform: translate(0,-50%);
   -o-transform: translate(0,-50%);
   transform: translate(0,-50%);
   top: 50%;
   margin: 0 auto;
   height: 720px;
}
